/* :root {
    --bar-width: 100px;
    --bar-height: 10px;
    --bar-spacing: 25px;
} */

.menu-wrapper {
	width: 50px;
	height: 50px;
	background-color:black;
	position: relative;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: var(--bar-width);
	height: calc(var(--bar-height) + var(--bar-spacing)*2);
	cursor: pointer; */

}

/* .burger-menu,
.burger-menu:after,
.burger-menu:before {
    width: var(--bar-width);
    height: var(--bar-height);
}

.burger-menu {
	position: relative;
	transform: translateY(var(--bar-spacing));
	background: rgb(75, 192, 75);
	transition: all 0ms 300ms;
}

.burger-menu.animate {
    background: rgba(80, 35, 35, 0); 
}

.burger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: var(--bar-spacing);
	background: rgb(109, 46, 46);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: var(--bar-spacing);
	background: rgb(109, 46, 46);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger-menu.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.burger-menu.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
} */